---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PostCard from '../../../components/PostCard.astro';
import { imagePath } from '../../../components/image';
import data from '../../../data/site.json';

export function getStaticPaths() {
  const author = data.authors.find((item) => item.slug === 'ann') || data.authors[0];
  return [
    { params: { slug: author.slug }, props: { author } },
    { params: { slug: 'ghost' }, props: { author } },
  ];
}

const { author } = Astro.props;
const { site, posts } = data;
const title = `${author.name} - ${site.title}`;
---

<BaseLayout title={title} description={site.description} bodyClass={`author-template author-${author.slug}`} canonicalPath={`/author/${author.slug}/`} ogType="profile" ogImage={author.cover_image || author.profile_image}>
  <section class="outer">
    <div class="inner posts">
      <header class="author-profile">
        <div class="author-profile-content">
          {author.profile_image && (
            <img class="author-profile-pic" src={imagePath(author.profile_image)} alt={author.name} />
          )}
          <h1>{author.name}</h1>
          <p>{posts.length} posts published</p>
          <div class="author-profile-meta"></div>
        </div>
      </header>

      <div class="post-feed">
        {posts.map((post) => (
          <PostCard post={post} author={author} />
        ))}
      </div>
    </div>
  </section>
</BaseLayout>
